/*--------Fonts--------*/

/*----Lato----*/

@font-face {
    font-family: latoRegular;
    src: url('../fonts/Lato/Lato-Regular.ttf');
}

@font-face {
    font-family: latoBold;
    src: url('../fonts/Lato/Lato-Bold.ttf');
}

@font-face {
    font-family: latoBlack;
    src: url('../fonts/Lato/Lato-Black.ttf');
}

/*----MavenPro----*/

@font-face {
    font-family: mavenProRegular;
    src: url('../fonts/Lato/MavenPro-Regular.ttf')
}

/*--------Global--------*/

* {
    box-sizing: border-box;
}

html {
    font-family: 'latoRegular', sans-serif;
    font-size: 12px;
}

body {
    margin: 0;
}


a {
    text-decoration: none;
}

/*--------Header--------*/

header {
    background-color: #323232;
    color: #ffffff;
    font-size: 10px;
    font-family: 'latoBold', sans-serif;
    line-height: 6.32px;
    text-transform: uppercase;
}

.top-menu li a {
    color: inherit;
    height: 65px;
    width: 70px;
}

/* -----ABOUT----- */
.about-info {
    background-color: #2eb398;
}

