/*--------Fonts--------*/

/*----Lato----*/

@font-face {
    font-family: latoRegular;
    src: url('../fonts/Lato/Lato-Regular.ttf');
}

@font-face {
    font-family: latoBold;
    src: url('../fonts/Lato/Lato-Bold.ttf');
}

@font-face {
    font-family: latoBlack;
    src: url('../fonts/Lato/Lato-Black.ttf');
}

/*----MavenPro----*/

@font-face {
    font-family: mavenProRegular;
    src: url('../fonts/Lato/MavenPro-Regular.ttf')
}

/*--------Global--------*/

* {
    box-sizing: border-box;
}

html {
    font-family: 'latoRegular', sans-serif;
    font-size: 12px;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
}

p {
    text-align: justify;
}

/*--------Layout--------*/

.container {
    max-width: 820px;
    padding: 10px 20px;
    margin: 0 auto;

}

/*--------Header--------*/

header {
    background-color: #323232;
    color: #ffffff;
    font-size: 10px;
    font-family: 'latoBold', sans-serif;
    line-height: 6.32px;
    text-transform: uppercase;
}

nav {
    width: 50%;
    margin-left: 25%;
}

.top-menu li a {
    color: inherit;
    height: 63px;
    width: 70px;
}

.logo-holder {
    position: relative;
}

.top-menu li img {
    position: relative;
    top: 1.5%;
}

.triangle-down {
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
    border-top: 100px solid red;
}



/* -----ABOUT----- */
article.about {
    background-color: #2eb398;
    padding: 0 20px;
}

.about-container {
    border-left: 1px solid #219d84;
    border-right: 1px solid #219d84;
}

#profile1 .profile-pic {
    margin-right: 20px;
}
#profile2 .profile-pic {
    margin-left: 20px;
}

.about h2 {
    margin: 0;
    color: #d7fcf5; 
}
.about h3 {
    margin-top: 5px;
    color: #20816d;
}
.about p {
    color: #d7fcf5;
}

.profile {
    margin: 10px 0;
}

.about img {
    height: 180px;
    width: 180px;
    border-radius: 45%;
    border: 5px solid #1d6e52
}

#profile1 ul {
    justify-content: flex-end;
}

.icon {
    font-size: 2em;
    margin: 1px;
}

.facebook {
    color: #3660a0;
}
.twitter {
    color: #0073a7;
}
.google {
    color: #dc5442
}
.pinterest {
    color: #cb2127
}
.linkedin {
    color: #096c9b
}
.dribbble {
    color: #ef558f
}

/* -------CONTACT------- */

.contact {
    background-color: #323232;
    padding: 20px;
}

form {
    width: 50vw;
}

input {
    width: 75%;
}

/* ------FOOTER------ */

footer {
    background-color: #222222;
    color: #454545;
    padding: 15px 40px;
}