/*--------Fonts--------*/

/*----Lato----*/

@font-face {
    font-family: latoRegular;
    src: url('../fonts/Lato/Lato-Regular.ttf');
}

@font-face {
    font-family: latoBold;
    src: url('../fonts/Lato/Lato-Bold.ttf');
}

@font-face {
    font-family: latoBlack;
    src: url('../fonts/Lato/LatoBlack');
}
/*--------Global--------*/

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.container {
    max-width: 820px;
    padding: 0 20px;
    margin: 0 auto;
}

/* -----ABOUT----- */
article.about {
    background-color: #2eb398;
    border-left: 1px solid #219d84;
    border-right: 1px solid #219d84;
}

